.spaceTop {
  margin-top: 10px;
}

a.nav-link {
  color: #8e8d8a;
}

.border-right-color {
  border-right: 1px solid gray;
}

.home-left-column {
  height: 80vh;
}

.profile-actions {
  background-color: #e98074;
  border-bottom: #8e8d8a solid 1px;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
}

.profile-actions:hover {
  background-color: #e85a4f;
  cursor: pointer;
}

.home-form-container {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

/* Card and table within card */
div.card-body {
  padding: 10px;
}
td {
  padding: 6px;
}

div.card{
    margin-bottom: 10px;
}

/*flag color */
.flag-color {
  color: red;
}

.flag-color:hover {
  cursor: pointer;
}

.pill-button:hover {
  cursor: pointer;
}